:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #888;
  --primary-color: #F67A60;
  --background-color: #f1f2f4;
}

.app {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

* {
 
  box-sizing: border-box;
}


