.main{
    margin: 30px 0;
}

.main h1{
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 10px;
    text-align: center;
}

.main .address, .number{
    font-size: 20px;
    color: #000;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
}

.contact td{
    padding-bottom: 10px;
    padding-left: 10px;
}

.contact label{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.contact input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
}

.contact .submit{
    width: 100%;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
}

.contact .submit:hover{
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    transition: all 0.3s;
}

.table{
    display: flex;
    justify-content: center;
}

.table td{
    width: 440px;
    text-align: center;
    line-height: 1.5;
    /* border: 1px solid rgb(250, 155, 14); */
}

.table i{
    padding-top: 15px;
    font-size: 45px;
    color: var(--primary-color);

}

.table h3{
    color: var(--primary-color);
    font-size: 25px;
}

