.product-container-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px 0;
    grid-gap: 0 32px;
}

.detail-img {
    border: 1px solid #888;
}

.detail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-info__name {
    font-size: 4rem;
    font-weight: 400;
    color: #69bff1;
}

.detail-info__start {
    font-size: 1.5rem;
}

.detail-info__content p {
    font-size: 1.3rem;
    color: #777;
}

.detail {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    font-size: 1.8rem;
    margin: 36px 0;
    align-items: center;
}

.detail-button {
    display: flex;
    gap: 0 12px;
    margin-top: 24px;

}

.detail-button button {
    padding: 12px 16px;
    border: none;
    outline: none;
    background-color: yellow;
    cursor: pointer;
    color: #666;
    font-size: 1.5rem;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.detail-button button:hover {
    background-color: #69bff1;
    color: #fff;
}

.color-option {
    display: flex;
    gap: 0 8px;

}

.detail-info__meterail span:nth-child(2) {
    width: 100px;
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;

}

.info-size__item span {
    padding: 12px;
    border: 1px solid #ccc;
}

.detail-info__color .color-option.color-option span:nth-child(2),
.detail-info__color .color-option span:nth-child(1) {
    padding: 16px;
}

.detail-info__color .color-option span:nth-child(1) {
    background-color: yellow
}

.detail-info__color .color-option span:nth-child(2) {
    background-color: #69bff1;
}