* {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.register {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: 0;
}
.register .container {
  max-width: 800px;
  margin: 20px auto;
  padding-top: 20px;
  color: black;
}
.register .container h2 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.register .container .row col label {
  font-size: 20px;
  margin-bottom: 0px;
  position: relative;
}
.register .container .row input {
  border: 1px solid rgb(212, 212, 212);
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 5px;
}
.register .container .row input:hover {
  background-color: rgb(240, 241, 241);
}

.register .container .row {
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}
.register .container .row .col input {
  width: 100%;
}
.register .container .row .col.error input {
  border: 2px solid rgb(138, 64, 64);
}
.btn-form input {
  padding: 10px 0px;
  font-size: 16px;
  text-decoration: none;
  background-color: black;
  color: white; 
  transition: all 0.2s;
  border-radius: 5px;
}
.btn-form input:hover {
  background-color: #e97135 !important;
}
.container.complete {
  background: thistle;
}

.errors{
  color: red;
  display: block;
  margin-top: 10px;
}

.invalid {
  border: 1px solid red !important;
}

.form-select-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.7rem;
}
