.grid.wide {
    max-width: 1400px;
    margin: 0 auto;
}


.header-sign span a {
    text-decoration: none;
    color: var(----black-color);
}

.header-sign span a:hover {
    color: var(----primary-color);
    transition: all 0.3s;
}


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 110px;
    z-index: 9999999;
    background-color: var(--white-color);
    transition: all 0.25s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-top.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    animation: fade 0.25s forwards 1;
}

.header-top {
    padding: 32px 12px;
}

.header-logo {
    width: 150px;
}

.header-logo a {
    text-decoration: none;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex: 1;

}



.header-item__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary-color);
    padding: 0.5rem;
    font-weight: 200;
    margin: 0 8px;

}


.header-sign {
    padding-right: 1.5rem;
}

.header-sign,
.header-option,
.header-interactive {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.seperate {
    margin: 0 8px;
    ;
}

.header-option {
    padding-left: 1.5rem;
    border-left: 1px solid #ccc;

}

.header-cart,
.header-search,
.header-heart,
.header-login,
.header-registration {

    cursor: pointer;
}

.header-login a,
.header-registration a {
    text-decoration: none;
    color: black;
}

.header-cart,
.header-search,
.header-heart {
    padding: 4px 12px;
}

.header-cart i,
.header-search i,
.header-heart i {
    font-size: 2rem;
}

.banner_parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 8px;
}

.banner_item:nth-child(3),
.banner_item:nth-child(1) {
    border: 4px solid #fc82bd;
    border-radius: 12px;
}

.banner_item:nth-child(2) {
    border-radius: 12px;
    border: 4px solid #69bff1;
}

.shop-option-2,
.shop-option {
    background-color: var(--white-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    left: 35%;
    width: 180px;
    display: none;
    transition: all 0.8s ease;
    z-index: 999;
}

.shop-option-2 {
    left: 42.5%;
}

.shop-list {
    list-style: none;
    padding-left: 0;
}

.shop-item {
    margin: 24px 0;
}

.shop-link {
    padding: 12px 8px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    text-align: center;
}

.navbar-item:hover .header-item__link{
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 8px;
    transition: all .3s;
}
.header-heart:hover,
.header-cart:hover,
.header-search:hover,
.header-login:hover,
.header-registration:hover,
.shop-link:hover {
    color: var(--primary-color);
    transition: all 0.3s;
}

.item-option-2:hover .shop-option-2,
.item-option:hover .shop-option {
    display: block;
}

.header-heart,
.header-cart {
    position: relative;
}

.number-option {
    position: absolute;
    top: 0;
}

.item-img {
    width: 100%;
    display: inline-block;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-images {
    width: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.slick-next {
    right: 12px;
}

.slick-prev {
    left: 12px;
    z-index: 9999;
}

.slick-initialized .slick-slide {
    margin: 0 !important;
}

.slick-arrow {
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--black-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    z-index: 999;
}

.slick-arrow:hover {
    background-color: var(--primary-color);
    color: white;
}

.slick-initialized .slick-slide {
    margin: 0 10px;
}

.slick-dots {
    position: absolute;
    display: flex !important;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    list-style: none;
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 8px;
}

.slick-dots .slick-active button {
    background-color: var(--primary-color);
}


/* main */

.main {
    margin-top: 50px;
}

.banner-item {}

.banner-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: transparent;
    border-radius: 8px;

}

.product-image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 300px;
}

.product-bot {
    padding: 0 8px;
}

.product-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    border: 1px solid rgb(243, 242, 242);
    border-radius: 10px;
}

.product-item__button,
.product-item__option-right {
    position: absolute;
}

.product-item__button {
    bottom: 20px;
    display: flex;
    /* left: 50%; */
    gap: 0 8px;
    transform: translateY(110%);
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    outline: none;
    border: none;
    padding: 12px 0;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    ;
    cursor: pointer;
    opacity: 0;
    transition: all 0.25s ease;

}



.product-item__option-right {
    display: flex;
    flex-direction: column;
    right: 20px;
    transform: translateX(150%);
    opacity: 0;
    transition: all 0.25s ease;

}

.product-item__option-right i {
    padding: 10px;
    background-color: var(--primary-color);
    margin: 8px 0;
    border-radius: 4px;
    font-size: 1.6rem;
}

.product-item__button:hover,
.product-item__option-right i:hover {
    /* background-color: var(--primary-color); */
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.25s ease;
}


.product-image {
    border-radius: 8px;
    cursor: pointer;

}

.product-item:hover .product-item__option-right {
    opacity: 1;
    transform: translateX(0);
}

.product-item:hover .product-item__button {
    opacity: 1;
    transform: translateY(0);
}

.product-content {
    text-align: center;
    margin: 6rem 0;
}

.product-tiltle__top,
.product-tiltle__bot {
    margin: 4px 0;
    ;
}

.product-tiltle__top {
    font-size: 3rem;
}

.product-title__bot {
    font-size: 1.6rem;
    color: var(--text-color);
}

.product-item h3 {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.price-item {
    font-size: 1.6rem;
    color: var(--text-color)
}


.product-background {
    background-image: url(../images/trangchu/header/header10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    padding: 10px 20px;
    text-align: center;
    background-size: auto;
    text-align: left;
}

.product-background h3 {
    font-size: 2rem;
}

.product-background h2 {
    font-size: 5rem;
}

.product-background p {
    font-size: 1.8rem;
}

.p-color {
    color: #666;

}

.collect {
    padding: 12px 32px;
    font-size: 1.6rem;
    background-color: black;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.collect:hover {
    background-color: var(--primary-color)
}

.subsribe {
    background-image: url(../images/trangchu/header/header11.jpg);
    height: 80vh;
    display: flex;
    padding: 40px 0;
    background-attachment: fixed;
}

.box {
    text-align: center;
    margin: auto;
    padding: 80px;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 800px;
    border-radius: 8px;
}

.box h2 {
    font-size: 3rem;
    line-height: 1.2;
}

.box p {
    font-size: 1.5rem;
    color: #555;
}

.input-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-email input {
    outline: none;
    border: none;
    padding: 16px;
    flex: 1;
}

.input-email button {
    margin-left: 8px;
    border: none;
    outline: none;
    padding: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* footer */
.footer-container {
    padding: 50px 20px 0;
    background-color: black;
}

.footer-top {
    color: white;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px 0;
}

.footer-images img {
    width: 200px;
    object-fit: cover;

}



.footer-icons a {
    text-decoration: none;
}

.footer-icons i {
    color: white;
    font-size: 1.8rem;
    margin: 8px;
}

.footer-contact h2,
.footer-takeCare h2 {
    margin-top: 0;
    font-size: 2rem;

}

.footer-takeCare ul {
    list-style: none;
    padding: 0
}

.footer-takeCare li {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1.5;
}



.footer-contact p {
    margin: 0;
    font-size: 1.4rem;
    color: #ccc;

}

.footer-contact .info {
    margin-left: 8px;
}

.contact-top {
    margin-bottom: 28px;
}

.contact-phone {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.footer-bot {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.priceCon {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

/* modal */
.modal-cart {
    background-color: rgba(149, 157, 165, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 9999;
    opacity: 0;
    transition: all 0.25s ease;
}

.modal-cart.active-modal {
    display: block;
    opacity: 1;
}

.modal-container {
    border-radius: 8px;
    transform: translateY(20px);
    width: 50%;

    padding: 12px;
    margin: auto;
    background-color: #fff;
    transition: all 0.25s linear;
    animation: modal 0.5s linear;
}

@keyframes modal {
    from {
        transform: translateY(0);

    }

    to {
        transform: translateY(20px);

    }
}

.modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.modal-top .modal-title {
    font-size: 2rem;
}

.modal-top i {
    font-size: 3rem;
    cursor: pointer;
}

.modal-top i:hover {
    color: red;
}

.modal-main__center {
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
}

.modal-main__center-child,
.modal-main__top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 0 24px;
    align-items: center;
    justify-content: center;
}

.modal-main__top {
    padding: 8px;
    border-bottom: 1px solid #555;
    margin: 24px 0 12px;
}

.modal-main__top span {
    font-size: 1.6rem;
}

.modal-main__center-child {
    font-size: 1.8rem;
    padding-bottom: 12px;
    margin: 12px 0;

    border-bottom: 1px solid #999;
}

.modal-main__center-child p, .modal-main__center-child span {
    margin: 0;
    line-height: 1.2;
}

.modal-main__center-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-clear {
    background-color: #e7412b;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.modal-clear:hover {
    opacity: 0.8;
}

.modal-cacular {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
}

.sum-money {
    color: var(--primary-color);
    margin-left: 12px;
}

.modal-bot {
    margin-top: 24px;
}

.model-oder {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.model-oder button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;

}

.model-oder button:hover {
    opacity: 0.8;
}

.number-cart span {
    font-size: 1.6rem;
    color: #000000;
}

.number-cart input {
    width: 50px
}

.cartitem {
    margin-bottom: 20px;
    border-radius: 8px;
}
.user {
    color: var(--primary-color);
    text-decoration: underline;
    text-transform: capitalize;
}

.user:hover, #logout:hover {
    opacity: .7;
}
